
<div class="page-wrapper">
    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row">
    <div class="col">
    <h3 class="page-title">Statutory Compliance Status</h3>
    <ul class="breadcrumb">
    <!-- <li class="breadcrumb-item"><a href="/">Dashboard</a></li> -->
    <!-- <li class="breadcrumb-item active">Data Tables</li> -->
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-header">
    <h4 class="card-title">Statutory Compliance Documents</h4>
    <!-- <p class="card-text">
    This is the most basic example of the datatables with zero configuration. Use the <code>.datatable</code> class to initialize datatables.
    </p> -->
    </div>
    <div class="card-body">
        
        <% if (statutoryComplianceDocs == null) { %>
            
            <% } else { %>
                
                <% statutoryComplianceDocs.forEach(element => { %>
                    <div class="table-responsive">
                    <h4>Submitted on <%=element.createdAt.toLocaleDateString('en-GB') %> <i><%=element.createdAt.toLocaleTimeString('en-GB') %></i></h4>
                    <table class="table   ">
                    <thead>
                    <tr>
                    <th>Document Name</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                    </tr>
                    </thead>
                    
                         
                            <tbody>
                            <tr>
                            <td><strong>ZPPA license</strong></td>
                            <td><button type="button" class="btn btn-danger">Pending</button></td>
                            <td>
                                <div class="dropdown">
                                <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href= "/<%=element.zppaDoc%>" >View</a>
                                </li>
                                <li>
                                <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                </li>
                                </ul>
                                </div>
                            </td>
                            </tr>
                            <tr>
                        
                                <td><strong>PACRA license</strong></td>
                                <td><button type="button" class="btn btn-danger">Pending</button></td>
                                
                                    <td>
                                        <div class="dropdown">
                                        <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                        <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" href= "/<%=element.pacraDoc%>" >View</a>
                                        </li>
                                        <li>
                                        <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                        </li>
                                        </ul>
                                        </div>
                                    </td>
                                
                               
                            </tr>
                            <tr>
                                <td><strong>Worker Compensation </strong></td>
                                <td><button type="button" class="btn btn-danger">Pending</button></td>
                               
                                <td>
                                    <div class="dropdown">
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                    <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href= "/<%=element.workcompDoc%>" >View</a>
                                    </li>
                                    <li>
                                    <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                               
                            </tr>
                            
                            <tr>
                                <td><strong>Nhima </strong></td>
                                <td><button type="button" class="btn btn-danger">Pending</button></td>
                                <td>
                                    <div class="dropdown">
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                    <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href= "/<%=element.nhimaDoc%>" >View</a>
                                    </li>
                                    <li>
                                    <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                               
                            </tr>
                        
                            <tr>
                                <td><strong>ERB </strong></td>
                                <td><button type="button" class="btn btn-danger">Pending</button></td>
                                <td>
                                    <div class="dropdown">
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                    <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href= "/<%=element.erbDoc%>" >View</a>
                                    </li>
                                    <li>
                                    <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                               
                            </tr>
                            <tr>
                                <td><strong>Others</strong></td>
                                <td><button type="button" class="btn btn-danger">Pending</button></td>
                                <td>
                                    <div class="dropdown">
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                                    <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href= "/<%=element.others%>" >View</a>
                                    </li>
                                    <li>
                                    <a href="/dashboard/newApplication" class="dropdown-item">Delete</a>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                               
                            </tr>
                           
                            
                            </tbody>
                     
                            
                        </table>
                    </div>
                        <hr>
                 
                <% }) %>
        <% } %>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>